*{
    padding: 0%;
    margin: 0%;
}
.center{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(236, 236, 236);
}
.nav{
    width: 100%;
    height: 50px;
    background-color: white;
}
.nav p{
    float: left;
    margin-left: 20px;
    font-size: 20px;
}
@media(max-width:600px){
    .nav p{
        float: none;
        display: block;
        text-align: center;
    }
    .nav p:hover{
        background-color: rgb(170, 170, 170);
    }
    .nav{
        width: 100%;
        height: auto;
    }
    .logo{
        background-color: tomato;
        color: white;
    }
}
.image1{
    width: 100%;
    height: auto;
}
/*
@media(max-width:990px){
 .w3-content{
     overflow: hidden;
 }
}
.w3-display-container
{position:relative}
.w3-content{
    max-width:980px;
    margin-left:auto;
    margin-right:auto
}
.w3-display-container:hover span.w3-display-hover{display:inline-block}
.w3-display-hover{display:none}
.w3-image{max-width:100%;height:auto}*/
.box1{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
}
@media(max-width:1000px){
    .box1{
        overflow: hidden;
    }
}
.box{
    position: relative;
}
.box2{
    max-width:100%;
    height:auto;
    background:white;
    position: absolute;
    top: 30%;
    left: 0%;
    margin-left: 20px;
}
@media(max-width:600px){
    .box2{
        width: 100%;
    }
}
.para1{
    margin-top: -20px;
    background-color: tomato;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.form{
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.left input{
    width: 85%;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
.right input{
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
.button1{
    color: white;
    background-color: rgb(82, 82, 82);
    width: 180px;
    height: 50pxs;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.para2{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.para3{
    margin-bottom: 20px;
}
.form2{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin-bottom: 20px;
}
@media(max-width:600px){
    .form2{
        display: grid;
        grid-template-columns: 100%;
    }
    .input3 input{
        width: 100%;
        margin-top: 15px;
    }
    .input4 input{
        width: 100%;
    }
}
.input1 input{
    width: 90%;
    height: 20px;
    padding: 10px;

}
.input2 input{
    width: 90%;
    height: 20px;
    padding: 10px;
}
.input3 input{ 
    width: 70%;
    height: 20px;

    padding: 10px;
}
.input4 input{
    width: 70%;
    height: 20px;
    padding: 10px;
}
.input5 button{
    width: 70%;
    height: 20px;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.box4{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
@media(max-width:600px){
    .box4{
        display: grid;
        grid-template-columns: 100%;
    }
}
.item1{
  background: white;
  margin-left: 10px;

}
.item2{
    background: white;
    margin-left: 10px;
}
.item3{
    background: rgb(255, 255, 255);
    margin-left: 10px;
}
.para4,.para5,.para6,.para7{
    margin-bottom: 10px;
    padding: 10px;
}
.para5,.para6,.para7{
    opacity: 0.5;
}
.para8,.para9,.para10,.para11{
    margin-bottom: 10px;
    padding: 10px;
}
.para9,.para10,.para11{
    opacity: 0.5;
}
.para12,.para13,.para14,.para15{
    margin-bottom: 10px;
    padding: 10px;
}
.para13,.para14,.para15{
    opacity: 0.5;
}
.button3{
    background-color: black;
    color: white;
    text-align: center;
    width: 95%;
    height: 30px;
    border: none;
    margin: 10px 0px 10px 10px;
}
.box5{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 20px;
}
@media(max-width:1000px){
    .box5{
        display: grid;
        grid-template-columns: 100%;
    }
    .left-photo{
        margin-top: 20px;
    }
}
.right-para h3{
 font-size: 20px;
}
.right-para p{
    font-size: 20px;
}
.address{
    display: grid;
    grid-template-columns: auto auto auto;
}
.important{
    background-color: tomato;
    color: white;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.first-para{
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    margin-left: 10px;
}
.box6 h3,p{
    margin-top: 20px;
}
.image2{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    
}
@media(max-width:600px){
    .image2{
        display: grid;
        grid-template-columns: 100%;
        padding: 0%;
    }
    .img4,.img5{
        margin-top: 0px;
    }
}
.img1,.img2,.img3{
    padding: 0 8px;
    margin-bottom: 16px !important;
}
.img4,.img5{
    margin-top: 10px;
}
.image2::after{
    content: " ";
    display: table;
    clear: both;
}
.email{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
}
.email:hover{
    background-color: black;
    color: white;
    
}
.para-1{
    font-size: 25px;
}
.para-2{
    margin-top: -10px;
    margin-bottom: 20px;
}
.email input{
    width: 100%;
    border: none;
    height: 40px;
}
.email label{
    margin-bottom: 20px;
}
.email button{
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 164, 148);
}
.email button:hover{
    background-color: silver;
    color: black;
}
footer{
    overflow: auto;
    background-color: black;
    padding-top:32px!important;
    padding-bottom:32px!important;
    margin-top:16px!important;
    text-align: center;
    color: white;
}
.para-3{
   font-size: 20px;
}
.icons{
    font-size: 25px;
    padding-top:32px!important;
    padding-bottom:32px!important;
    margin-top:16px!important;
}
footer a{
    color: white;
}
footer a:hover{
    color: green;
}



